* {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}


#rightSideWrapper {
  /*Strictly Necessary */
  width: 80%;
  float: right;

  /*Aesthetics*/

}

header {
  /*Strictly Necessary */
  position: fixed;
  width: 100%;
  height: 70px;
  /*Adjust the hight to your purposes*/
  /*Aesthetics*/
  background: white;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  z-index: 100;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.12), 0 2px 0px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);


}

h1 {

  justify-content: center;
  display: flex;
  margin-left: 42%;
  font-size: 26px;


}

img {

  width: 10rem;
  margin: 20px;
  padding: 20px;
}

.ContentBox {
  margin-top: 100px;
  /*The height of the   header*/
  display: flex;
  flex-flow: wrap;


}

main {
  /*Aesthetics*/
  padding: 20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  order: 1;
  flex: 0 1 100%;
  flex-flow: wrap;
}


/* section {

   height: 400px;
   order: 2;
   flex: 0 1 100%;
	
}

footer {
 
  height: 100px;
  order: 3;
  flex: 0 1 100%;
	
} */

/* card */
body {
  text-align: center;
  background-image: url("piso.png");
}



/* sidebar */
#sidebar {
  /*Strictly Necessary */
  position: fixed;
  height: 100%;
  width: 18%;
  margin: 0px;

  /*Aesthetics*/
  background: #144a9a;


}

#sidebar li {
  height: 30px;
  margin-top: 50px;
  list-style: none;
  font-size: 0.8em;
  display: flex;
  align-items: center;


}

#sidebar li a {
  height: 100%;
  padding-top: 300px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.4s ease;

}


#sidebar li a:hover {
  color: #2aa0fa;
}

#sidebar li a:hover .icon,
#sidebar li a:hover .text {
  color: var(--sidebar-color);
  transition: all 0.2s ease;
}

#sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  font-size: 35px;
  padding-left: 13px;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background: var(--primary-color-light);
  color: white;


}

.search-box input::placeholder {
  color: white;
}

#sidebar .icon {
  color: #fff;
}

#sidebar .text {
  color:
    #fff;

}

#sidebar li a:hover {
  background: var(--primary-color);
}

#sidebar li a:hover .icon,
#sidebar li a:hover .text {
  color: var(--sidebar-color);
  transition: all 0.2s ease;

}

table {
  width: 950px;
  border-collapse: collapse;
  margin: 50px auto;
  background-color: white;

}



th {
  background: #144a9a;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid white;
  }

  td {
    /* Behave  like a "row" */

    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }

}

/* search */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;

}

.searchTerm {
  width: 100%;
  border: 3px solid gray;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #9DBFAF;
}

.bx-search {
  color: black;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}